[2015-05-08 19:09] louh opened #1 "Breaking changes in Leaflet 0.8-dev"
Just playing with adding this in a Tangram demo, which uses Leaflet 0.8-dev. The `L.Util. limitExecByInterval` method has been renamed to `L.Util.throttle`. (See [CHANGELOG](https://github.com/Leaflet/Leaflet/blob/98bf92530f56c0bee1f0764e0934a25db6a6692d/CHANGELOG.md#other-breaking-api-changes))

Here is my test repo where I just made the change locally:
https://github.com/louh/carousel/blob/pelia

[2015-05-08 19:22] bcamper commented on #1
I've made Tangram compatible with leaflet 0.7.x and 1.x (0.8 is becoming 1.0), generally by testing for different method names. I think you can use the same approach here to make it work for both.

[2015-05-08 19:22] bcamper commented on #1
(Note only leaflet 1.x supports continuous zoom, which is one reason we use it in our demos.)

[2015-06-15 21:46] hkrishna commented on #1
Thank you for reporting this issue. The following commit resolves it

https://github.com/pelias/leaflet-geocoder/commit/abb1fddd75e5c7dbb422033a4fe7a79fb4ab56fe

[2015-06-15 21:46] #1 closed, assigned to nobody

[2015-06-17 19:54] souperneon opened #2 "UX: Browsing auto complete results"
(Could be an option to customize)
As user scrolls through the auto-complete results (without pressing enter), center the map (maybe drop a pin) for each result

[2015-06-17 19:55] souperneon opened #3 "UX/Design: Add small icon next to each result to signify if its a place or a POI"
example: a globe or a pin

[2015-06-17 19:57] souperneon opened #4 "UX: Drop a pin only for results are POI's"
Ref to Issue3 (https://github.com/pelias/leaflet-geocoder/issues/3) only drop pins for results that are POI's and not places

[2015-06-17 19:58] souperneon opened #5 "UX: Keep search box open when user has an active query or there is text in the box"

[2015-06-18 18:06] souperneon opened #6 "Desktop UX"
### Closed state

[Customizable- can be defaulted to open or closed search box]

![pelias_leaflet_flow1 1](https://cloud.githubusercontent.com/assets/6125224/8234619/fe6d0402-15aa-11e5-9a6c-1a10a13c3674.png)
### Click state
1. Box slides open [customizable- opens right or left]
2. Search icon changes color
3. Placeholder/Helper text [customizable]

![pelias_leaflet_flow1 2](https://cloud.githubuse

[2015-06-18 18:25] #5 closed, assigned to nobody

[2015-06-18 18:25] #4 closed, assigned to nobody

[2015-06-18 18:25] #3 closed, assigned to nobody

[2015-06-18 18:25] #2 closed, assigned to nobody

[2015-06-18 18:28] hkrishna commented on #6
this looks good. will start working on it soon.

[2015-06-18 20:39] souperneon opened #7 "Mobile UX"
### Closed state

[Customizable- can be defaulted to open or closed search box]

![pelias_leaflet_flow-m1 1](https://cloud.githubusercontent.com/assets/6125224/8241393/182ed178-15d7-11e5-9b72-65571e02c7df.png)

![pelias_leaflet_flow-m1 1a](https://cloud.githubusercontent.com/assets/6125224/8241394/182eff2c-15d7-11e5-9ae6-c23fefa056a8.png)
### Tap state/ Active state
1. Keyboard slides up with curs

[2015-06-19 11:57] dianashk commented on #6
Very cool. One small thing, we don't have polygon data in elasticsearch yet. So we have no way of knowing the size of a city or country to zoom out to. Maybe we just zoom out more than we would with points, but it wouldn't guarantee the whole region visible. Adding polygons is definitely something we have considered and are working towards, so this will eventually be working as the spec describes.

[2015-06-19 14:48] souperneon commented on #6
That's fine… then let's just drop a pin on the map for now and as we have polygon data in, we can do the correct zoom etc.

[2015-06-25 11:53] missinglink commented on #6
hey @souperneon this may be out-of-scope for the plugin but I saw this feature on http://adresse.data.gouv.fr/map/ that I like, if you search something like "Paris" (it's France only) then when you drag the map around it shows a little textbox at center,bottom which shows the nearest place to the map centroid.

[2015-06-25 14:31] souperneon commented on #6
@missinglink interesting… haven't seen that before.
Outside of this plugin, will it be useful for a Pelias demo?

[2015-06-26 18:59] hkrishna commented on #6
Here's a first pass
http://rawgit.com/pelias/leaflet-geocoder/ux/index.html

[2015-07-06 15:07] souperneon commented on #6
@hkrishna I played around with it a bit, are you still working on it?
I owe you some assets and I have some subtle refinements. Let me know and we can chat.

[2015-07-08 20:41] souperneon commented on #6
I tested this on: http://pelias.github.io/leaflet-geocoder/. Here are some suggested improvements:
1. the 'x' overlaps with long text. Add a fade on the right of the text field or truncate
2. Customization: option to not drop a pin for a search result
3. Selecting a result (by clicking or pressing enter) from the drop down should populate that text in the search field and remove the blinking curso

[2015-07-08 20:55] souperneon commented on #7
I tested this on: http://pelias.github.io/leaflet-geocoder/. Here are some suggested improvements:
1. Search box should default to being persistent and open. Customization: ability to collapse to the button
2. Make the search field taller. At least 44px tall (is that possible?)
3.  Selecting a result (by tapping) from the drop down should populate that text in the search field, remove the blinking

[2015-07-10 14:55] riordan opened #9 "[Browser Compatibility] Selecting a search result sets Search Box text to Undefined"
While using Firefox Desktop, searching for a place then selecting it changes the content of the search field to "undefined". It is supposed to put the name of the selected place into the search box.

![pelias-leaflet-firefox-undefined](https://cloud.githubusercontent.com/assets/227472/8621026/56da6b00-26f1-11e5-8a28-686acaa90788.gif)

To Reproduce:
- Use Firefox Desktop (untested in mobile at this

[2015-07-10 15:20] riordan opened #10 "Reintroduce zoom buttons for desktop?"
I know we had decided to simplify the mobile UX (#7) during out last discussion by removing the zoom buttons while keeping the search bar visible at all times (by default, with the option to re-enable still in the codebase).

That said, I don't remember if we were going to also remove the zoom buttons for the desktop.

<img width="348" alt="pelias_demo" src="https://cloud.githubusercontent.com/ass

[2015-07-10 15:31] riordan opened #11 "Non-obvious navigation between matches for mobile"
In the current design, a user is left to figure it out for herself that she may tap the search bar again to return to her result list. We can do more to make this more obvious.

![pelias-leaflet-mobile-confuzzling](https://cloud.githubusercontent.com/assets/227472/8622042/12ebbfba-26f7-11e5-9fb0-5ca4bd24e983.gif)

But perhaps not yet... We'll revisit.

[2015-07-10 15:32] riordan commented on #7
:+1: Nice work.

[2015-07-10 15:48] orangejulius commented on #10
I have always zoomed in and out with the scroll wheel, Is that not how everyone else does it? (I'm genuinely curious because this isn't the first time that it's seemed like lack of zoom buttons has been missed on a map product)

[2015-07-10 15:54] hkrishna commented on #9
this is fixed https://github.com/pelias/leaflet-geocoder/commit/7d60d676b93c22749ffa859962587c1dd652ed46

[2015-07-10 15:54] #9 closed, assigned to nobody

[2015-07-10 17:03] riordan commented on #9
👊

On Fri, Jul 10, 2015 at 11:54 AM, Harish Krishna notifications@github.com
wrote:

##

David Riordan | Product Manager - Search | dave.riordan@mapzen.com |
@riordan https://twitter.com/riordan | gpg 235D9DC95EF6277C
https://keybase.io/riordan
Mapzen | https://mapzen.com | @mapzen https://twitter.com/search

[2015-07-22 18:43] riordan opened #12 "Rename/clarify terminology"
Lots of colloquial terms
- `drop pin`
  -`pan to point`
- `full_width`
- `expanded`
- `hide_other_controls`

How might we make these (and other) terms clearer?

[2015-07-22 18:50] riordan opened #13 "Demo site not loading over HTTPS"
When loading the site over https, many browsers block content that mix script embeds over http when the main request was in https.

<img width="349" alt="pelias_demo" src="https://cloud.githubusercontent.com/assets/227472/8834203/ecca9fd4-3080-11e5-8758-1ac45fa74848.png">

[2015-07-22 18:51] riordan opened #14 "Use Tangram as basemap engine"
For demo site, use @Tangrams to power the basemap.

[2015-07-23 11:47] louh commented on #13
:+1: _press that green button_

[2015-07-23 14:39] #13 closed, assigned to riordan

[2015-07-27 19:37] louh opened #17 "Support for module loading systems."
There's no requirement (yet) for Leaflet plugins to assume JS module loading systems, but we would play very nice with many projects' build environments if we did. See the ongoing discussion here. https://github.com/Leaflet/Leaflet/issues/2364

I've introduced this on a separate branch (https://github.com/pelias/leaflet-geocoder/tree/v0.0.3) maybe one in which new work happens.

TODO: test this

[2015-07-28 15:17] louh opened #18 "Support for Bower / NPM packages."

[2015-07-28 15:22] louh opened #19 "Follow the Leaflet plugin authoring guide as closely as possible."
Including matching the file structure.

http://leafletjs.com/2013/06/28/leaflet-plugin-authoring-guide.html

[2015-07-28 15:24] louh opened #20 "Put all classes under a .leaflet-pelias-* namespace"
As opposed to potentially conflicting with other uses of .pelias-\* that may occur on a site that are not in the scope of being a leaflet geocoder plugin.

[2015-07-28 15:24] louh opened #21 "Verify Leaflet 1.0 compatibility."

[2015-07-28 15:26] louh opened #22 "Styles should match Leaflet default styles."
Including icons, relative sizing, drop shadows, and mobile styling. A basic out of the box implementation of the plugin on vanilla Leaflet should appear as if it were part of Leaflet itself.

If we want to _improve_ on any of the Leaflet defaults and add Mapzen-opinionated UI/ UX on top of it, that should be added as a progressively enhanced demo implementation, not part of plugin core behavior.

[2015-07-28 15:27] louh opened #23 "TESTS!"
Automate the process of improvements in the future without a lot of overhead of manual testing

[2015-07-28 15:40] louh commented on #10
Currently the demo _is_ showing zoom buttons on desktop, so is this issue still relevant?

But here's my answer anyway: yes, we should put zoom buttons on desktop. There are lots of "simple" gestures that are non-obvious to people who are legitimately not computer savvy. If you encounter a map for the first time and did not know how to zoom in, does a scroll wheel imply scroll the map? Or zoom? Wh

[2015-07-28 18:48] orangejulius commented on #10
@lou, that totally makes sense. Definitely seems like we should keep them around then.

[2015-07-29 15:40] louh opened #24 "Support real-world cases when image folder may not be in the same directory as the project page"
For instance, in [line 265](https://github.com/pelias/leaflet-geocoder/blob/master/pelias-leaflet-geocoder.js#L264-L265) the plugin dynamically creates a close icon assuming that the image file is in a relative path from the page. This is probably the most egregious example; in lines [17-18](https://github.com/pelias/leaflet-geocoder/blob/master/pelias-leaflet-geocoder.js#L17-L18) the same assumpt

[2015-08-01 13:38] louh opened #25 "Regex parsing: some gibberish inputs break regex"

[2015-08-01 13:39] louh opened #26 "Search icon as a separate DOM element?"
for easier styling & end use replacement

[2015-08-10 20:14] louh commented on #24
Note to self: make sure this works in everything Leaflet supports (e.g. IE 7)

[2015-08-10 20:18] riordan opened #27 "Verify browser compatability w/ Leaflet Core"
Leaflet supports
- Chrome
- Firefox
- Safari 5+
- Opera 12+
- IE 7-11

We've got to go back and check all of them.
- [ ] Chrome
- [ ] Firefox
- [ ] Safari
  - [ ] Safari 5
  - [ ] Safari 6
  - [ ] Safari 7
  - [ ] Safari 8
- [ ] Internet Explorer
  - [ ] IE 7
  - [ ] IE 8
  - [ ] IE 9
  - [ ] IE 10
  - [ ] IE 11

[2015-08-10 20:18] louh commented on #20
Done in v.0.0.3

[2015-08-10 20:18] #20 closed, assigned to louh

[2015-08-10 20:18] louh commented on #18
Basic scaffolding up in v0.0.3

[2015-08-10 20:18] #18 closed, assigned to louh

[2015-08-10 20:18] louh commented on #17
Done in v.0.0.3 and tested in what3emojis :)

[2015-08-10 20:18] #17 closed, assigned to nobody

[2015-08-10 20:20] louh opened #28 "If plugin is placed in lower corners, results box should appear above input"
Currently it just drops off the bottom of the screen.

[2015-08-10 20:21] riordan opened #29 "Documentation!"
Needs broad documentation plus several examples
- Map + search in a button
- Map + search in an expanded searchbox
- Configuring a fullpage map to work at particular breakpoints for an expanded searchbox

[2015-08-10 20:21] louh commented on #25
Dear past me: WHAT WERE THOSE INPUTS????

[2015-08-11 14:41] riordan commented on #25
Not sure precisely what they are, but [the big list of validation testing strings](https://github.com/minimaxir/big-list-of-naughty-strings) may help.

[2015-08-11 17:30] louh commented on #27
Compatibility notes (ongoing, will evolve as I learn more)
- Placeholders in input box are not supported on IE 7-9 (http://caniuse.com/#feat=input-placeholder). This degrades gracefully so we don't need to remove it. If we want to support IE 7-9 with placeholders, we can either polyfill it inside the library or note it as a caveat (so that developers who integrate the library can choose their poly

[2015-08-13 20:51] louh commented on #21
So far so good, test example here: https://github.com/pelias/leaflet-geocoder/blob/v1.0.0-alpha/examples/leaflet-v1.html

[2015-08-13 20:51] #21 closed, assigned to louh

[2015-08-13 21:57] louh commented on #14
Switched the primary demo to Tangram here: https://github.com/pelias/leaflet-geocoder/blob/master/index.html

There is also a barebones Tangram implementation here as a learning-friendly example: https://github.com/pelias/leaflet-geocoder/blob/master/examples/tangram.html

We'll have to keep other examples / demos on stock Leaflet with raster tiles for old-browser compatibility.

11/18/2015 EDIT:

[2015-08-13 22:17] louh commented on #10
Hey, I'd like to drop a little bit of implementation detail here.

So I've mentioned this in other places before, but detecting the difference between a mobile and desktop device is really tricky. So, while it's useful to talk about features and user experience divided into these two separate buckets, we don't really have a sure-fire way to differentiate between the two on the implementation side.

[2015-08-20 23:16] louh opened #30 "Hovers and selection should be different colors/shades"

[2015-08-20 23:16] louh opened #31 "Add instructions for customizing some colors in CSS"

[2015-08-21 03:26] #26 closed, assigned to louh

[2015-08-21 15:02] #31 closed, assigned to louh

[2015-08-21 16:27] #30 closed, assigned to louh

[2015-08-21 16:28] #22 closed, assigned to louh

[2015-08-21 16:29] louh opened #32 "After making a selection, and then clearing it, collapsing the input bar causes the old selection to reappear"

[2015-08-21 16:39] #28 closed, assigned to louh

[2015-08-24 22:35] #32 closed, assigned to louh

[2015-08-24 22:35] #19 closed, assigned to louh

[2015-08-24 22:42] louh commented on #12
I changed some of these in v1
- `dropPin` is changed to `markers` - for no reason other than to match the terminology Leaflet uses.
- `hide_other_controls` is removed. The more I think about it, the more I think this isn't the purview of the library to force that particular UX opinion on users, especially since it's a blunt force solution: we don't know exactly what we're hiding, only that other c

[2015-08-24 22:43] #10 closed, assigned to nobody

[2015-08-28 12:08] louh opened #34 "[UI] When keyboard-scrolling through a list of results that is not fully visible, scroll up the list to show the highlighted result"

[2015-08-28 12:09] louh opened #35 "[bug] When input is cleared, it is still possible to cycle through previous "deleted" results with up/down buttons"

[2015-08-28 12:30] louh opened #36 "[ie8 compatibility] any mousedown on the results list closes it immediately and stops interaction"

[2015-08-30 15:03] #35 closed, assigned to louh

[2015-08-31 21:54] louh commented on #36
Fixed!  8864f93c71093f4f83ec35ca731890d1d92d49b4

[2015-08-31 21:54] #36 closed, assigned to louh

[2015-08-31 21:55] louh commented on #27
Yo @riordan, IE8/IE9 support is ready for testing. IE7 will have to be not supported due to lack of JSONP primarily.

[2015-09-02 13:37] louh opened #37 "Template strings for search results"
Note: Leaflet has an [internal template string utility](http://leafletjs.com/reference.html#util-template), so adopt Leaflet functionality for this.

[2015-09-02 13:38] louh opened #38 "Deal with errors better"
Most commonly 429s (when you hit the API limit) but also in case of server failure, wrong server endpoint setting, etc

[2015-09-02 13:39] louh opened #39 "Allow filtering of uncertain results"

[2015-09-02 13:41] louh opened #40 "Returning results should fire an event"

[2015-09-02 13:42] louh opened #41 "Allow testing against multiple Leaflet versions"
This should fix the test failures on CircleCI, it's probably testing against 0.7.5 and not v1

[2015-09-02 18:42] riordan commented on #27
Sweet! Time to fire up the IE VM's. I'll take a look this evening.

On Mon, Aug 31, 2015 at 5:55 PM, Lou Huang notifications@github.com wrote:

##

David Riordan | Product Manager - Search | dave.riordan@mapzen.com |
@riordan https://twitter.com/riordan | gpg 235D9DC95EF6277C
https://keybase.io/riordan
Mapzen | https://mapzen.com | @mapzen https://twitter.com/search

[2015-09-22 15:41] #14 closed, assigned to nobody

[2015-09-22 15:41] #12 closed, assigned to riordan

[2015-09-22 15:42] louh commented on #24
May revisit in future

[2015-09-22 15:42] #24 closed, assigned to louh

[2015-09-22 17:32] riordan opened #42 "Compatibility w/ Mapzen Search or Self-Hosted Pelias"
Should be an easy config to allow a developer to change whether they're using our plain vanilla Mapzen Search, or running their own Pelias instance somewhere.

[2015-09-22 18:26] louh commented on #42
There's a `url` option which defaults to `https://search.mapzen.com/v1` if not provided, but someone can set this to a different URL.

[2015-09-22 18:50] riordan commented on #42
:thumbsup:

On 9/22/15 14:26, Lou Huang wrote:

##

##

David Riordan | Product Manager - Search | Mapzen
dave.riordan@mapzen.com | @riordan | gpg 235D 9DC9 5EF6 277C
https://mapzen.com | @mapzen

[2015-10-09 23:25] #42 closed, assigned to nobody

[2015-10-09 23:26] #25 closed, assigned to louh

[2015-10-16 17:08] royhobbstn opened #62 "Feature Request: zoom on select result"
An option - integer - corresponding to Leaflets zoom levels.  Allows user to set a default zoom level when selecting a geocoding result.

Use Case: When a user is zoomed out to the state level, but searches for a small town within the state.  (In this case, simply panning to the result does not bring the user to a useful map extent).

[2015-10-16 18:34] dianashk commented on #62
@royhobbstn, thanks for the feature request. We'll discuss this in our next planning meeting and update the issue accordingly.

The zoom issue has been a concern for us as well, and we're hoping to address it to some extent with the introduction of bounding boxes for places that have geometry. That way, we'll be able to zoom to the right level when a bounding box is present and when it's just a po

[2015-10-16 18:39] royhobbstn commented on #62
That's an even better solution than I had in mind.  I'm looking forward to seeing that implemented.  For now I've made a quick hack for zooming that works, so no hurry.

[2015-10-16 18:39] riordan commented on #62
Yes! We totally want this too!

We've considered this idea of setting default zooms for the different types of results (e.g. one for venues/addresses, another for cities, another for countries), but think we've got something even better coming soon.

We're looking to capture the geographic boundary of everything we import, so each place will have a bounding box that describes its size appropriatel

[2015-10-16 18:40] riordan commented on #62
And it appears @dianashk and I are of the same mind.

[2015-10-16 18:45] dianashk commented on #62
@royhobbstn :+1: Glad you've been able to make it work for now. Stay tuned for improvements.

In the meantime, we'd love to learn more about how you're using the plugin and maybe even spotlight your work if you're interested in sharing it at some point. Understanding how the community is engaging with the tools is tremendously helpful in assigning priorities to tasks and adding/changing/removing f

[2015-10-16 19:19] royhobbstn commented on #62
@dianashk I learned about this project at jsgeo.  I have a few thoughts about the plugin/geocoder and I'll send you an email later today.

[2015-10-30 13:00] hydrapolic opened #64 "The demo application is really slow"
Opening the demo on a 4 core 3.4GHz system with 16GB RAM and Firefox/Google chrome is a pain:
http://pelias.github.io/leaflet-geocoder/

The browser is stuck. Browser problem?

[2015-10-30 13:07] riordan commented on #64
Web pages are a lot of work!

Really, your machine should have no problem with that. I'd be interested in seeing the CPU profile for the page. Try loading the page with [the cpu profiler](https://developer.mozilla.org/en-US/docs/Mozilla/Performance/Profiling_with_the_Built-in_Profiler) turned on and send us the results. We'll get our graphics team to take a look.

[2015-11-02 01:39] louh opened #65 "When bounds are provided, also obtain a lat-lng point to bias autocomplete results with"

[2015-11-11 13:17] #34 closed, assigned to louh

[2015-11-15 20:43] nickdaugherty opened #72 "Support custom result marker popups via callback"
It should be easy to customize the marker popup content by passing a function to the Geocoder options that takes a Pelias result as an argument and returns an html string or DOM element to be used as the marker popup.

[code]

[2015-11-16 15:50] louh commented on #72
Thanks for the suggestion, @nickdaugherty. I'm contemplating how we might be able to pass through all of the [Popup options](http://leafletjs.com/reference.html#popup) available on Leaflet as well. This is far from a fully thought out proposal, but I imagine it may be something that extends the options object, like so:

[code]

This would allow you to also pass `false` (or falsy values) in place o

[2015-11-18 20:29] easherma commented on #14
FYI this issue comes up if you google using tangram for basemaps, but both of the links above no longer work. Might want to reference new links here just in case.

[2015-11-19 04:45] louh commented on #14
@easherma, good call. I've updated the links.

[2015-11-21 23:27] marcoamadori opened #75 "Return lat.long"
How can I get latitude and longitude from the Geocoder?
I want to pass them as var.

[2015-11-24 00:00] louh commented on #75
Hi @marcoamadori,
Can you tell us a little more about what you are trying to do?

One way to get latitude and longitude is to read them off the results list. Each DOM element in the list have latitude and longitude properties attached to them, which we use internally to know what to do with a selected result. But I realize that this is not ideal (and it's not documented) and we need to expose a mu

[2015-11-24 10:52] marcoamadori commented on #75
Hi @louh thanks for your answer.
I've created this html page :

[code]

What I'd like to do is a biketrip-planner that integrate the Valhalla algorithm for route creation with the Geocoder address search. I've added two Geocoder and a "Create Route" Button that launches the function of route creation. My idea is to find the starting and arrival point with the two geocoders controls, and pass the c

[2015-11-26 08:48] hydrapolic commented on #64
Sorry it took me so long, here is the file (or where can I send it directly via email?)
https://www.sendspace.com/file/k6w85k

[2015-11-27 22:49] louh commented on #75
The geocoder controls do store selected results coordinates internally, so one way of getting that out is like so:

[code]

Let me know if that helps. By the way, the last couple of days I am proposing an event-based way of getting information out of certain actions. ([See this branch here](https://github.com/pelias/leaflet-geocoder/tree/events).) In this proposal, you can do something like this:

[2015-11-27 22:50] louh commented on #40
Stuff here: https://github.com/pelias/leaflet-geocoder/tree/events

[2015-12-01 15:57] louh commented on #75
Hi @marcoamadori,
I've just published [version 1.2.0](https://github.com/pelias/leaflet-geocoder/releases/tag/v1.2.0) which now uses events which you can hook into the get the lag/lng of a result.

The `coords` property of the selected DOM element will still work, but it's now officially deprecated and may be removed in a future version.

Let me know if this helps!

[2015-12-01 15:57] #75 closed, assigned to nobody

[2015-12-01 15:57] louh commented on #40
Published. https://github.com/pelias/leaflet-geocoder/releases/tag/v1.2.0

[2015-12-01 15:57] #40 closed, assigned to louh

[2015-12-02 14:56] marcoamadori commented on #75
Great! it works! Thank you very much :)

[2015-12-02 22:50] louh commented on #38
The commit 11bb4c2987c55d019e169d0d717bdf140874bcd4 that added error events also expanded server error coverage to everything in the documentation (https://mapzen.com/documentation/search/http-status-codes/). Since I didn't really expand on what "better" meant I will assume we're doing it "okay" and close this issue. If we have more specific improvements for handling errors we can open a new issue

[2015-12-02 22:50] #38 closed, assigned to louh

[2015-12-03 20:20] louh opened #80 "Move this project to mapzen org"

[2015-12-03 20:41] riordan commented on #80
Goodbye old friend.

[2015-12-03 21:36] orangejulius commented on #80
![goodbye](https://cloud.githubusercontent.com/assets/111716/11574848/0512b0d0-99dc-11e5-89d9-fc9d565f0640.gif)

[2015-12-04 00:10] louh commented on #80
One of the big questions is this: do we also want to rename the package? It's currently at https://npmjs.com/package/pelias-leaflet-geocoder, but renaming it something like `mapzen-leaflet-geocoder` is going to break existing installs. Then again, it might be worth to rip this band-aid off right now instead of later...

[2015-12-04 00:16] riordan commented on #80
Far better now than later.

[2015-12-04 00:49] louh commented on #80
Opinions on naming?
- mapzen-leaflet-geocoder (closest to current)
- mapzen-search-leaflet (get the whole product name in there)
- mapzen-search-leaflet-geocoder (too long?)
- leaflet-mapzen-search (prefacing it with the environment it's plugging into, which is a pretty common pattern)

[2015-12-04 11:42] marcoamadori opened #81 "Overlapping of two geocoder"
Hi!
I have added two different geocoders in the same map (I need them to create a travel planner, from point A - the first geocoder - to point B - the second geocoder).
They are one below the other.

The problem is that the list of results that appears below the first geocoder is hidden by the second geocoder. Is there a way to create a sort of order like layers?

[2015-12-04 16:24] louh commented on #81
There's definitely an argument here for rewriting the DOM in the plugin to get around the positioning problems. For now, the easiest way to do this is get the first geocoder element to be at a higher z-index level than the second one.

[code]

[2015-12-04 22:28] louh commented on #80
Recapping a short discussion with @riordan today:

When we move the repository to the Mapzen organization, also rename the `npm` package to **`leaflet-geocoder-mapzen`** from `pelias-leaflet-geocoder`. "Leaflet" should come first so it's clear that it's a Leaflet plugin. "Geocoder" is next because that is specifically what it is and what it does. "Mapzen" is last to be clear that it is designed fo

[2015-12-05 09:44] missinglink commented on #80
:+1:

[2015-12-05 09:46] missinglink opened #82 "tangram style (demo)"
how would you feel about changing the tangram style from 'refill' to 'scene' for the demo page?

I use the demo page at http://pelias.github.io/leaflet-geocoder to do user testing and people always comment on the tiles not being very cartographic ;)

[2015-12-05 13:17] louh commented on #82
Is 'scene' the one here? http://tangrams.github.io/tangram/

[2015-12-05 15:19] dianashk commented on #82
Let's ask Nathaniel and Geraldine which styles are ready for use and which would be most appropriate for this use case. The reason we chose this one is because it's one of the most popular styles out there and also has been designed specifically to highlight the data displayed over it, such as poi markers, rather than highlighting the cartographic features of the location. The markers tend to be l

[2015-12-07 16:43] louh opened #83 "Collapse event always fires when clicking on the map"
Even when the geocoder is already collapsed.

[2015-12-07 20:02] riordan commented on #82
We've been advised to use one of the [three core styles](https://mapzen.com/blog/introducing-refill-cinnabar-and-zinc-styles-for-tangram):
- Refill (for lots of dots)
- Cinnabar (general purpose mapping, what most people are used to)
- Zinc (light/ ESRI gray, drawing things on a map)

We can also choose the level of precision for labeling (none, standard, lots).

It depends what we're showing off.

[2015-12-07 23:23] #83 closed, assigned to louh

[2015-12-07 23:25] louh commented on #80
Done and released as https://github.com/mapzen/leaflet-geocoder/releases/tag/v1.3.0.

Placeholders are in place and existing links to the old repository should still work: https://www.npmjs.com/package/pelias-leaflet-geocoder

Anyone trying to `npm install pelias-leaflet-geocoder` will also see this message:
![screenshot 2015-12-07 15 36 14](https://cloud.githubusercontent.com/assets/2553268/11643

[2015-12-07 23:25] #80 closed, assigned to louh

[2015-12-07 23:27] louh commented on #64
Hi @hydrapolic, we'll send the profile over to the Tangram rendering team to see if they can make use of it.

In the meantime can you see if this demo page works as expected for you? https://mapzen.github.io/leaflet-geocoder/examples/

Thanks!

[2015-12-07 23:29] louh commented on #81
Hi @marcoamadori, I made an example page demonstrating this in action. https://mapzen.github.io/leaflet-geocoder/examples/two-geocoders.html

Hope that helps. Closing this now!

[2015-12-07 23:29] #81 closed, assigned to nobody

[2015-12-08 05:56] hydrapolic commented on #64
Helllo @louh, yes that works fantastic :cocktail:

[2015-12-08 13:21] louh commented on #64
Thanks for the response! I'll close this issue now, since Tangram rendering is separate from this plugin.

[2015-12-08 13:21] #64 closed, assigned to nobody

[2015-12-09 04:46] louh commented on #82
So, one does not simply drop `scene.yaml` into Tangram.[[1](https://www.youtube.com/watch?v=r21CMDyPuGo)] There's a lot of JavaScript lurking in the background that makes the scene work, and it's all being controlled by dat GUI [floating quietly in the corner](http://tangrams.github.io/tangram/). I have, once, extracted a version of `scene.yaml` that can "do the right thing" without the GUI, but t

[2015-12-09 16:48] missinglink commented on #82
ok thanks for the feedback, sorry to be a pain, sounds like using 'scene' is not a good idea, so let's just leave it as-is?

[2015-12-09 16:48] #82 closed, assigned to nobody

[2015-12-09 20:57] souperneon opened #86 "Displaying point and polygon results"
- points get a pin on the map with a tooltip (tooltip can be closed by clicking the 'x')
- polygons just zoom that map to include the polygon in the viewport with a highlighted boundary and no pin is dropped (nice to have- label for the polygon is highlighted)

[2015-12-09 20:57] #6 closed, assigned to nobody

[2015-12-09 21:22] riordan commented on #86
We don't have polygon data yet but we will soon! So this is in the not too distant future.

[2015-12-09 22:17] souperneon commented on #86
I debated adding the 'future' label on this but left it coz those issues never get looked at!
Can't wait :)

[2015-12-09 22:23] riordan commented on #86
Nah; we take the 'future' seriously.

[2015-12-09 22:24] #7 closed, assigned to nobody

[2015-12-09 22:32] souperneon commented on #11
@riordan @louh let's chat about this more

[2015-12-16 19:35] louh opened #93 "Autocomplete results should filter by layer."
Currently, the `layers` option for the geocoder doesn't affect autocomplete queries:

This provides a really strange experience because neither the application developer nor the end user expects results that are not in the layers that are set. However, the autocomplete endpoint does not do layer filtering because it slows down the cache.

Since `layers` is just sugar for the actual search paramete

[2015-12-17 13:26] louh commented on #93
To account for:
- No filtering is done if `layers` option is blank or null
- Expand to the correct list of layers for comparison if `layers` is set to `coarse`
  - Also do this in arrays if someone does, for instance, `['coarse', 'venue']`

[2015-12-17 15:21] missinglink opened #94 "deleting all input quickly results in empty dropdown rendered"
when rapidly deleting the input I experience a dropdown rendered with no labels, this does not happen when deleting more slowly.

deleting slowly:
![1](http://missinglink.embed.s3.amazonaws.com/leaflet-geocoder-94-1.gif)

deleting quickly:
![1](http://missinglink.embed.s3.amazonaws.com/leaflet-geocoder-94-2.gif)

[code]

[2015-12-17 15:27] missinglink commented on #94
note: I am able to reproduce on the current version hosted at http://mapzen.github.io/leaflet-geocoder

[2015-12-17 16:58] louh commented on #94
Thanks for the report! I've seen this a few times too but didn't figure out how to reliably reproduce the problem.

[2015-12-17 17:56] AndrewLWestover commented on #93
gs

[2015-12-18 21:29] thundersnow-spatial opened #95 "How to get to and use the XY from the result of the Mapzen Leaflet Geocoder?"
I'm struggling is how to deal with with array of features that get created during the autocomplete process, and how to get the XY from the one result of the autocomplete the user selects.

I can see the XY coordinates in each object in the Array that is returned... but how to get to it...

From there, I'd like to feed that XY into a Geoserver service tying back to a PostGIS query...

Any thoughts?

[2015-12-19 01:18] louh commented on #95
Hi @mapbaker,

You can use the built in event listeners to listen for certain events that happen, such as when autocomplete results are received, and when the user selects a result. [Here's the documentation on events](https://github.com/mapzen/leaflet-geocoder#events) and a [demo](http://mapzen.github.io/leaflet-geocoder/examples/events.html) of events being fired. Each of these events will send

[2015-12-19 15:01] louh commented on #94
Ok, I have an explanation and a proposed fix for this.

As you might suspect, there's a race condition that surfaces when deleting input very quickly while there is a queue of throttled autocomplete requests.

The dropdown with no labels is a side effect of the `showResults` method [reading the current input value](https://github.com/mapzen/leaflet-geocoder/blob/d8bffa274c1ee1b3e006989c519a5f13982

[2015-12-19 20:00] louh opened #97 "Rename CSS class selectors"
To remove -pelias- namespace. This will break existing implementations with CSS selectors.

[2015-12-19 20:02] louh opened #98 "Rename internal _close reference to reset button"
This may break things if any downstream users are referring to this reference in their scripts, but there's no guarantee that this will always stay the same, so I'm comfortable updating this in the next minor version

[2015-12-21 16:44] thundersnow-spatial commented on #95
Ah yes! I think that will do it! Many thanks for this!!!

[2015-12-21 17:02] louh commented on #95
Great! Glad I could help.

[2015-12-21 17:02] #95 closed, assigned to nobody

[2016-01-06 18:47] missinglink commented on #94
@louh looks good!

[2016-01-06 19:21] louh commented on #94
:+1: thanks!

[2016-01-06 19:26] #94 closed, assigned to nobody

[2016-01-06 19:29] #98 closed, assigned to louh

[2016-01-08 20:43] louh opened #99 "Possible non-deterministic test"
See this failure: https://circleci.com/gh/mapzen/leaflet-geocoder/194
And this fixed on rebuild: https://circleci.com/gh/mapzen/leaflet-geocoder/195

Managed to duplicate this problem locally.

The offending code is here: https://github.com/mapzen/leaflet-geocoder/blob/a42b6a8f2c33033cde399b40bebba250f8143f91/spec/suites/InterfaceSpec.js#L168-L182

The test fails because the expected map center is

[2016-01-08 20:55] dianashk commented on #99
I think changing behavior during tests takes away from the validity of the test. Building some fuzziness into the test doesn't seem like a big deal, as long as it's a reasonable range. You could also consider adding timeouts of some arbitrary length to allow the map to stop animating.

[2016-01-12 20:16] riordan commented on #29
I'd say this is more than done.

@louh?

[2016-01-12 20:37] louh commented on #29
DONE

[2016-01-12 20:37] #29 closed, assigned to nobody

[2016-01-23 15:40] louh opened #101 "Update demo page titles"

[2016-01-23 15:41] louh opened #102 "Handle layer filtering if 'coarse' is provided in an array"

[2016-01-23 15:42] louh opened #103 "Client-side country filtering during autocomplete"

[2016-01-24 21:42] hyperknot opened #104 "Search displaying old results"
There is a bug with search. After a successful search, when selecting all text and replacing it with the new one, many times it just doesn't register the new text. It still goes back to the old one.

Fixes which I found out:
- Clicking the X
- Pressing backspace once in the empty search box, before entering the new text.

Screen recording:
https://www.youtube.com/watch?v=0URWyVLcvQw&feature=youtu.

[2016-01-25 02:11] louh commented on #104
Thanks -- after a brief investigation, I've been able to duplicate the bug you're facing when the autocomplete feature is turned off. Is that the case for you?

[2016-01-25 03:13] hyperknot commented on #104
Yes, I forgot to say, it's with autocomplete off.

[2016-01-26 13:10] louh commented on #104
Thanks! I'm working on a fix and will update soon.

[2016-01-26 13:19] #101 closed, assigned to louh

[2016-01-27 21:54] ktjaco opened #106 "Reverse geocoding"
I have my own Leaflet Pelias web mage setup, and I've been trying to test out reverse geocoding set-up in the search bar. I've noticed that I can't actually search a latitude, longitude in the search bar. I noticed the same problem in your demo as well.

For example, when I try to search `40.7643, -74.0207` in your search bar the first result is from `4076,4078 Real, Capurro, Uruguay`.

[2016-01-27 22:17] ktjaco commented on #106
Turns out it was a matter of just changing...

`control.options.geocoder = geocoder;`
to
`control.options.geocoder.reverse = geocoder;`

[2016-01-27 22:17] #106 closed, assigned to nobody

[2016-01-27 22:28] riordan commented on #106
Thanks @curiousc0w. This is actually a feature we'd like to see in the core system, where searching for a lat,lon gets you a place. Thanks for flagging this @curiousc0w!

[2016-01-27 22:34] ktjaco commented on #106
@riordan

No problem.

Here's my `index.js` file that I have been using for my page. Line 71 is where I made my change.

https://gist.github.com/curiousc0w/d7b8eae2e2f0723c99e3#file-index-js-L71

[2016-01-27 22:41] ktjaco commented on #106
Although... the Javascript file I've been using is from the Leaflet Control Page.

http://www.liedman.net/leaflet-control-geocoder/download/

[2016-01-29 03:42] missinglink opened #107 "Center map on user"
Currently the map in the demo defaults the user to New York rather than their own location.

This effects the search bias and so when users view the demo from overseas the results will strongly bias towards NYC, which is perceived as unintuitive and confusing (something the API tries hard to avoid).

So presumably 3rd party integrations will need to trigger the browser device location API themselv

[2016-01-29 13:23] louh commented on #107
I'd keep any device location API access out of the library -- there are plenty of other Leaflet plugins that will handle it, anyway.

I didn't know there was a publicly / freely accessible geo IP service out there. I think it would be great to hook the demo up to use that. I've been cautious about requesting for user's location unless these conditions are true: (a) the page uses that information A

[2016-02-04 15:39] JamesLMilner opened #108 "Geocoder does not respect bounds when searching"
I am using the following code:

[code]

However the code brings back all sorts of results that are not in the bounding box:

![screen shot 2016-02-04 at 15 34 34](https://cloud.githubusercontent.com/assets/8822075/12820041/471de7b0-cb55-11e5-8017-41fb8454abd2.png)

Any idea what might be going on here? Tried a variety of different bounding boxes but results always seem global. Thanks

[2016-02-04 16:00] louh commented on #108
Hi @JamesMilnerUK, are these results from the autocomplete, or from search? Autocomplete happens each keystroke, while search only happens when you press enter.

[2016-02-04 16:14] riordan commented on #108
Additionally, autocomplete doesn't currently operate within the constraints of a bounding box, but Search will. Autocomplete's designed to be heavily cache-able, so we try to get the best results that'll match for the most people. Sadly that means bounding boxes (with their large numbers of variable floating points) are hard to cache.

That said, one of the features we're considering is something

[2016-02-04 16:15] riordan commented on #108
But yes, Search will completely respect a bounding box.

[2016-02-04 16:22] JamesLMilner commented on #108
@louh Apologies, I didn't realise that that the Autocomplete and Search were two different functions. @riordan that would be useful, assuming that the United Kingdom counts as a country ;) Thanks for your hard work.

[2016-02-04 16:51] riordan commented on #108
The UK's https://whosonfirst.mapzen.com/spelunker/id/85633159/ certainly
a country. And as I learned this week, we classify England as a
"Macroregion" https://whosonfirst.mapzen.com/spelunker/id/404227469/

On Thu, Feb 4, 2016 at 11:22 AM, James Milner notifications@github.com
wrote:

##

David Riordan | Product Manager - Search | dave.riordan@mapzen.com |
@riordan https://twitter.com/riordan | gp

[2016-02-12 19:41] louh commented on #107
I just added the GeoIP lookup to the demo page. This should be working if the geoIP API is not blocked (NYC is the fallback). http://mapzen.github.io/leaflet-geocoder/

What do you think?

[2016-02-13 20:29] riordan commented on #107
💯

[2016-02-17 09:33] missinglink commented on #107
wunderbar!

[2016-02-19 16:05] sleepylemur opened #110 "autocomplete behavior"
it needs to be visually clear that autocomplete results serve the sole purpose of filling out the search box. ideally autocomplete results would be in a dropdown that is directly attached to the search box, and tabbing/arrow key/clicking through the autocomplete results would affect the contents of the search box.

once enter is hit or search is clicked, then search results should be displayed.

[2016-02-19 19:13] louh commented on #107
Cool, closing now

[2016-02-19 19:13] #107 closed, assigned to nobody

[2016-02-19 19:15] louh commented on #102
Done 238047ff06c0b0e89fed34d34c715ad2c2cbdb5a

[2016-02-19 19:15] #102 closed, assigned to louh

[2016-02-19 19:38] louh commented on #93
Done https://github.com/mapzen/leaflet-geocoder/pull/100, 238047ff06c0b0e89fed34d34c715ad2c2cbdb5a

[2016-02-19 19:38] #93 closed, assigned to nobody

[2016-02-19 19:39] #23 closed, assigned to louh

[2016-02-19 19:41] #99 closed, assigned to louh

[2016-02-19 19:56] #104 closed, assigned to nobody

[2016-02-19 19:56] louh commented on #104
@hyperknot, this will be fixed in the next update.

[2016-02-22 19:14] louh commented on #86
Related info for future reference and questions for debate:

When polygon geometries are available, these will be obtained by requesting from the `/place` endpoint. Thus, the handle for the `/place` response needs to also handle displaying the geometry. Currently, displaying locations are handled when a result is selected -- _before_ a place request is made. It may be likely that in the future tha

[2016-02-23 16:01] louh opened #117 "Add convenience on "focus" and on "blur" event listeners"

[2016-02-27 02:45] hyperknot commented on #104
Thanks, seems to work well.

On 19 February 2016 at 20:56, Lou Huang notifications@github.com wrote:

[2016-03-25 15:48] hno2 opened #120 "How can I add custom error messages?"
I want to use it on a german website and need translated error messages.

[2016-03-28 11:58] missinglink commented on #65
hey @louh I'm just cleaning up this Milestone, could you provide more info on this issue, is it a big priority?

as I read it, it means:

If that is the case then it's a low priority as the backend API currently just computes the centroid [for you](https://github.com/pelias/api/blob/master/query/search.js#L70-L81)

[2016-03-28 13:25] louh commented on #65
Hey @missinglink, I don't know how much autocomplete has changed in the last few weeks. Your reading is correct, but I'm writing it with the assumption that `/autocomplete` does not understand `boundary.rect.*`, and so the geocoder plugin itself should calculate the appropriate `focus.point.*` client-side. Is `focus.viewport.*` new? (or [undocumented](https://mapzen.com/documentation/search/autoco

[2016-04-08 20:40] louh opened #121 "Support other types of bounds"
The `bounds` option should accept an object whose key-value pairs decompose to valid Mapzen Search boundary filtering parameters. See [documentation](https://mapzen.com/documentation/search/search/#combine-boundary-search-and-prioritization).

e.g.

[code]

Passing in `rect` property is analogous to passing in a L.latLngBounds() object.

We could generalize this such that Mapzen Search could add a

[2016-04-13 15:39] dianashk commented on #62
@royhobbstn, great news! We now have a bbox property for each feature in the results. This should help you zoom out to the right level. Let us know if there are any issues with this property. The zoom level isn't updated automatically in leaflet, just yet.

[2016-04-14 16:38] devinrsmith commented on #108
I've noticed this too. I think that the autocomplete api doesn't always respect the bounding box. I've attached a screenshot that shows that we are correctly passing in the same bounding box to the autocomplete endpoint, but it is returning back a different bounding box.

Is there a more appropriate place to file this issue?

![screen shot 2016-04-14 at 11 35 38 am](https://cloud.githubusercontent

[2016-04-28 16:08] louh commented on #120
@hno2, that's a great question. The error messages are hard-coded into the application and that's not a desirable situation for localization. I think we can easily extract them out and figure out some interface where you can change those error messages. I'm not well versed in translation methods - is there a way you've seen that has worked for other projects (particularly Leaflet plugins) ?

[2016-05-18 13:34] louh commented on #121
Discussion from #127:

I'm closing this issue in favor of the `params` approach. We may explore other convenience options for boundaries in the future as the needs arise.

[2016-05-18 13:34] #121 closed, assigned to nobody

[2016-06-06 23:45] hanbyul-here opened #129 "Marker doesn't show up when result has bbox property"
- Marker is not showing up (v 1.6.2) when there is bbox property, even if its geometry is `Point`

example one : https://search.mapzen.com/v1/autocomplete?text=tisch%20school%20of%20the&focus.point.lat=40.721502075213955&focus.point.lon=-74.00527954101564&api_key=search-MKZrG6M

(this doesn't show a marker)

[2016-06-09 22:16] louh commented on #129
I think it's a backward compatibility thing, but all search results have a geometry of `Point` no matter what. A `bbox` property exists when the source geometry is actually an area. In this case, it looks like the Tisch School of the Arts in OSM (https://www.openstreetmap.org/way/247842670) is tagged to an area and not a node, so that's where the `bbox` is coming from.

Once Mapzen Search started

[2016-06-10 17:25] brunobg opened #130 "Autocomplete does not throttle"
Autocomplete seems to be throttled in the code, but it doesn't work. Requests are sent immediately, no throttling happens. Is it supposed to work and wait 250ms before making a request or is the throttle() function for something else? Very easy to reproduce, happens in every browser.

[2016-07-18 16:58] martgnz opened #131 "Cannot get params to work"
Using `1.6.2` I'm having trouble getting the `params` option to work. It doesn't seem to recognize any parameter that I pass (for example with `boundary.country` and `size`).

Here's my code:

[code]

Tested on latest Chrome, OSX, Leaflet 1.0.0-rc.1. The options outside of params work.

[2016-07-22 15:54] martgnz commented on #131
Sorry to bother you @louh, but does someone else have the same bug?

I cannot find where my error is.

[2016-07-22 16:47] louh commented on #131
Hi @martgnz,

Can you try one thing for me? Turn off autocomplete momentarily:

[code]

Now perform a search again -- you must press enter to do this without autocomplete. Do the options in params work now?

[2016-07-22 16:49] louh commented on #131
I'm suspecting that the params you are trying do not work because they are not supported by the `/autocomplete` endpoint for Mapzen Search. Here is the [documentation for supported parameters for `/autocomplete`](https://mapzen.com/documentation/search/autocomplete/). Let me know if this is the case!

[2016-07-22 17:13] louh commented on #130
Hi @brunobg,

Are you getting `429 "Too Many Requests"` error codes in response?

A single request is definitely sent immediately. The throttle prevents _subsequent_ requests from happening too quickly in succession. Suppose you typed "s", you would immediately send a request for autocomplete results beginning with the letter "s". If you then typed "seat", but typing "ea" happened in less than 250

[2016-07-22 18:59] brunobg commented on #130
Hi @louh. I expected the counter to reset whenever there was a keypress, instead of just throttling requests to no more than one every 250ms. This may provide partial results but was just doing 4 or 5 requests per user. I don't recall perfectly now, but I think the requests may not have been aborted too (might be my memory playing tricks). Or it showed stale results when you typed backspace.

We e

[2016-07-22 21:59] louh commented on #130
Thanks, @brunobg. We don't abort stale requests, but we check timestamps from the response so we shouldn't be rendering any stale results. (If we are, that's a different bug, so let me know if you do encounter this.)

We're not planning to change our throttling behavior, but thank you for writing back and explaining your use case. I'll close this issue now.

[2016-07-22 21:59] #130 closed, assigned to nobody

[2016-07-23 07:09] martgnz commented on #131
Thanks for your help @louh, that was my error.

I didn't know that autocomplete was separated from the search endpoint. Now it's working fine (although autocomplete was very nice!).

[2016-07-23 07:09] #131 closed, assigned to nobody

[2016-07-25 08:55] mepa1363 opened #132 "Access to Marker Object(s)"
I would like to know if there is a way (besides hacking the code) to get access to the marker object(s). What I'm looking for is to disable popup (or change its content), and to make the marker draggable.
Thanks.

[2016-07-25 18:34] louh commented on #132
Hi @mepa1363,

The first thing you can do (and is officially supported) is to set your default marker options during in plugin initalization:

[code]

Notice that I assigned the geocoder to a variable. This way I have access to it later, and read the `markers` property on the `geocoder` object:

[code]

The array represents any markers that are currently visible, so if something in the plugin clea

[2016-07-26 06:52] mepa1363 commented on #132
Hi @louh,

Thanks for your help. Everything worked well except for the function that unbinds (disable) the popup. Is there any way to disable popups?

One more thing; I am using two geocoder controls in a single interface. Since the markers are draggable, I am sending the coordinates to the Mapzen reverse geocoder to get the address back. Now I want to change the text in the associated search box

[2016-07-26 17:37] louh commented on #132
Re: disabling popups. Hmm. It might be hard because the plugin binds and shows the popup immediately so there's not a way to hook into that and modify the behavior (without hacks). I did write a proposal for a popup option that would allow you to control its behavior, here: https://github.com/mapzen/leaflet-geocoder/issues/72, which we would need to build into the plugin. Let me know if that would

[2016-07-26 17:48] louh commented on #131
Thanks @martgnz, I'm glad you brought it up. I've clarified the instructions in README [here](https://github.com/mapzen/leaflet-geocoder/commit/3c04fe2d84d17e6a9a45daaae875cdc7d81e7a4e) to make it more clear that even though params are sent, there are different endpoints that behave differently.

[2016-07-28 05:40] mepa1363 commented on #132
Hi @louh,

Thanks so much for you help. It works like a charm.

[2016-08-04 23:01] binx opened #134 "Typing throttle loses the end result"
If I type too fast (or too many characters) I hit a throttle that stops more requests from being made. Unfortunately when I finish typing, the final request does not get made. This leads to behavior like typing "los angeles" quickly, but only seeing autocomplete suggestions for "los a" or whatever. Currently to fix this I have to hit enter to get new autocomplete results.

[2016-08-04 23:02] binx opened #135 "Hitting enter does not clear autocomplete suggestions"
The only way I've found to clear the autocomplete dropdown is to click on a result. When I type something and hit enter (or arrow up/down in the list and hit enter) I expected the autocomplete list to go away, since I had "selected" my final search.

[2016-08-04 23:05] binx opened #136 "Autocomplete fitbounds seems to act inconsistently"
I've noticed that sometimes when I arrow up/down on the autocomplete lists, the map is moved (fitBounds) to fit the bbox of the autocomplete. Other times it does not.

More confusingly, sometimes searching for a place will call fitBounds on that area, and other times it simply centers the map on that place.

Is there a 2nd set of calls being made to provide the autocomplete list with more informat

[2016-08-07 03:00] louh commented on #135
Hey @binx, can you walk me through this? I tried to duplicate this but the dropdown did go away for me after pressing enter, so I might not be understanding the situation.

[2016-08-07 03:12] louh commented on #136
I _think_ what you are seeing is the difference between point and polygon results, but to clarify, are you saying that you are seeing inconsistent behavior for the _same_ result?

[2016-08-07 03:18] louh commented on #134
Good observation -- if a result is throttled, it doesn't try again for you automatically later.

Do you see the "too many requests" message in the dropdown at all? Or only in the console?

I think it is possible to hit the API limit for an indefinite amount of time (say, you maxed out the requests per day) so it would also not be a good idea to try again indefinitely either. It should make sense t

[2016-08-08 21:00] louh opened #137 "Put files in src/ directory, only publish dist/"

[2016-08-08 21:02] souperneon opened #138 "Add options for category search"
@orangejulius let's do this!

[2016-08-09 00:01] #137 closed, assigned to nobody

[2016-08-09 00:43] #117 closed, assigned to louh

[2016-08-23 09:04] leezu opened #140 "leaflet-geocoder-mapzen.css missing"
With `leaflet-geocoder-mapzen@1.7.0` the `leaflet-geocoder-mapzen.css` file is not present in the dist directory after installing. The .js file is properly copied however.

I declared leaflet-geocoder as a dependency of my software as follows:

[code]

The dist folder looks as follows:

[code]

[2016-08-23 14:28] louh commented on #140
Indeed it is. We changed the deploy process and things borked. I'm looking into it today.

[2016-08-23 18:33] louh commented on #140
@leezu We've deprecated 1.7.0 and published 1.7.1 which should put the CSS (and minified files) back. Please try that and let me know if that works.

[2016-08-24 00:34] leezu commented on #140
Works fine now, thanks!

[2016-08-24 00:34] #140 closed, assigned to nobody

[2016-09-01 15:14] supakazes opened #143 "No results when searching for a postcode (5 digits) in France"
Hi,

It used to work but haven't touched anything in my code since a few weeks I imagine the service API has changed (?).

**The problem**  :
I try to search and find a city in France entering it's postcode in the geocoder, the postcode example is `75019` (Paris) and the exact query is :
`https://search.mapzen.com/v1/search?text=75019&focus.point.lat=47.27177506640826&focus.point.lon=2.724609375&l

[2016-09-05 10:38] missinglink commented on #143
hi @kazes, the query is matching on `housenumber` not on `postalcode`, the reason you are not getting matches for numbers greater than 7500 is because it's uncommon for roads to have than many houses on them.

regarding the expected behavior, I'll link a ticket to investigate why https://whosonfirst.mapzen.com/spelunker/id/421307215/#13/48.8869/2.3877 is not being found for the query `75019`.

[2016-09-08 15:34] supakazes commented on #143
Thanks for your reply :) Yes and when there is 5 numbers the response indicates the parsed text as a postcode, so it's not looking through house numbers.

[2016-09-16 09:07] frankbroniewski opened #144 "Preset location in geocoder"
Hi,
maybe it is just me not looking properly, but is there a way to preset a location in a geocoder search field? I'd like to offer routing to an known location, so setting the goal with a predefined location would be helpful. Any ideas on how I can accomplish that?
The Leaflet Routing Machine search boxes has that capability, having it on the geocoder would be great!
Frank

[2016-09-26 14:58] missinglink commented on #144
I had a think about this, I agree it would be cleaner to implement this in the front-end rather in the search service itself.

The mapzen search api has 3 endpoints `/v1/search`, `/v1/autocomplete` & `/v1/reverse`.

I think it would be better to have the frontend detect if the input text is a coordinate pair and use the `/v1/reverse` API instead of one of the other two.

The other option would be

[2016-09-26 15:51] louh commented on #144
Let me know if I'm reading this wrong, but it sounds like @frankbroniewski just wants to pre-populate the input box with some text? I don't think this needs to touch the Mapzen Search API at all.

[2016-09-27 10:01] frankbroniewski commented on #144
No, presetting a text would be easy. I am looking for a solution to initialize a geocoder with a predefined location, either by name or by coordinates.
I have two geocoder in my map, one for the from-location and one for the destination-location. The destination should be preset in order to give the user a suitable location, but changeable if desired.
I hope that makes it a bit more clear.

[2016-10-02 20:04] louh commented on #144
Is this saying that the geocoder already "found" a location? When you say predefined location, you mean that the geocoder behaves as if a search was already performed, so it "knows" not just the input but also the lat/lng point for that location?

[2016-10-06 11:36] supakazes opened #145 "Search for "toulou" suggests first result "Toulouse" in French Guyana but expected in France"
Hello,

Working with the geocoder I spotted what I think is an error in the datas.
When you try to search **"toulou"** and expect to find **Toulouse in France**, the first result is acutally **"Toulouse, France" but in French Guyana** (South America). There are coordinates and it would be ok for me if the city would exist but when you search online for it, **it does not seem to exists at all**, so

[2016-10-07 18:03] frankbroniewski commented on #144
Sorry for the late reply, but you describe my wish very well

[2016-10-15 17:42] louh commented on #145
cc @dianashk

[2016-10-26 15:05] supakazes commented on #145
Hi, I just come back to up the issue :)
I know you're busy sorry but do you have any idea about this ?
Thanks !

[2016-10-26 17:28] orangejulius commented on #145
Hi @kazes,
Thanks for reporting this. I work on the [Pelias](http://github.com/pelias/) team that runs the Mapzen Search service you're querying. This is definitely a bug in our data, there's certainly no Toulouse in French Guiana. The data comes from the [Geonames](http://geonames.org/) project, which has a lot of good data but also many issues.

I've deleted this record from our database, so Map

[2016-10-27 09:32] supakazes commented on #145
Hi Julian, thanks very much.
I'm happy to contribute to find errors to fix :) No worries for the time to propagate as long as it's fixed that's perfect.
Cheers !

[2016-10-27 09:34] supakazes commented on #145
I've just tested it and I can confirm it works fine now. I'm closing this issue :)

[2016-10-27 09:34] #145 closed, assigned to nobody

[2016-10-28 18:24] ashron24 opened #147 "Geocoding Recently Built Buildings in NYC"
My mapzen geocoder is failing to find some new-ish buildings in NYC. For example, it can't find 169-30 Baisley Boulevard in Queens. This is a building that was constructed about a year ago. Can someone tell me how often the data gets updated?

[2016-10-31 19:54] orangejulius commented on #147
Hey @ashron24,
Mapzen Search updates our data once a week. The data for NYC addresses comes mainly from [OpenAddresses](http://openaddresses.io/), which in turn gets its NYC data through the [NYC Address Points data set](https://data.cityofnewyork.us/City-Government/NYC-Address-Points/g6pj-hd8k) (link unfortunately requires signup). Surprisingly, this dataset says it was updated just last week! Ho

[2016-10-31 20:33] ashron24 commented on #147
Great, thanks for letting me know! I added it to the map. Its an 8 floor
building with 54 apartments, built a couple of years ago. Thanks again,

Asher

On Mon, Oct 31, 2016 at 3:54 PM, Julian Simioni notifications@github.com
wrote:

[2016-11-14 15:37] skorasaurus commented on #62
I implemented this [using an event, here's an example](https://github.com/skorasaurus/marillac/commit/87a7023bd3b499a6349be62be4e8e34401be6191) since Lou added [events support](https://github.com/mapzen/leaflet-geocoder/commit/056de87ad524bc24c0dbcb1de4c4164f5cf45fac).

Thanks @louh for adding this!

@royhobbstn Does this solve your use case(s)?

[2016-11-23 19:12] #147 closed, assigned to nobody

[2016-11-29 22:43] jakehm opened #148 "npm import leading to missing styles?"
The searchbox looks strange and I think the issue is that the css is not loading.

I am using this with react-leaflet.

[code]

And what I get looks like this:
![image](https://cloud.githubusercontent.com/assets/8211311/20732148/527b7dc4-b65b-11e6-9931-972d8925ef89.png)

[2016-12-05 17:49] louh commented on #62
You're welcome, @skorasaurus! Thanks for supplying your example. Ideally, developers will use the events to respond to selection the way they need, since we can't make too many assumptions about what's needed on the library side.

[2017-01-19 20:32] louh commented on #148
Hi @jakehm,

CSS won't be loaded automatically. Are you including it in your page, e.g. a direct link to the CSS stylesheet, like so:

https://github.com/mapzen/leaflet-geocoder/blob/master/index.html#L12

or otherwise importing the `dist/leaflet-geocoder-mapzen.css` file?

Another possible culprit is the version you are using. Version 1.7.0 was published incorrectly without CSS files, but 1.7.1 s

[2017-01-19 21:39] #148 closed, assigned to nobody

[2017-01-26 17:00] stoil opened #149 "Attach search functionality to existing input"
Congratulations for the good work, this plugin is awesome.
I am building a React app and I am using leaflet (1.0.2) map for it. Is there any chance to attach the search functionality to an existing input element instead of creating an input in the onAdd method?

[2017-02-02 18:16] louh commented on #149
Hi @stoil,
Is your existing input element in React? If so, this might work better for your needs: https://github.com/abec/react-autosuggest-geocoder (you would have to wire it up to Leaflet yourself, though.)

[2017-02-18 17:09] hjmccain commented on #129
hi @louh! is there a way to force markers to display for all locations, including large areas / locations w/ bbox attribute? i am finding that certain locations are erroneously given the bbox property (i.e. a bagel shop in my neighborhood) — when some restaurants show up with markers and others don't, the performance feels inconsistent — i'd rather have everything show up with a marker (even if th

[2017-02-23 17:45] louh commented on #129
Hi @hjmccain, we haven't revisited this issue, so there's currently no option to force markers to display for all locations regardless of bbox. But here's one strategy to manually add a marker with some additional code:

[code]

I haven't tested this, but I believe this should work. The one caveat I can think of is that this doesn't automatically drop markers if you use the up/down arrow keys thro

[2017-02-24 20:07] hyperknot opened #150 "Plugin breaks with latest Leaflet"
With Leaflet master (will be 1.0.4) this plugin produces the following error:

[code]

The actual error message is referring to `L.Mixin.Events`.

Minimal example:
https://playground-leaflet.rhcloud.com/qatu/1/edit?html,output

Reported in Leaflet:
https://github.com/Leaflet/Leaflet/issues/5358

[2017-03-06 16:16] louh commented on #150
Thanks for the report, @hyperknot. I'll be investigating this today.

[2017-03-06 19:03] louh commented on #150
As of commit https://github.com/mapzen/leaflet-geocoder/commit/a215a53b993d2fd071e75ae494906f49687b9aad

If `L.Evented` is present on Leaflet, we include `L.Evented.prototype`, or we fall back to `L.Mixin.Events`.

[2017-03-06 20:53] louh commented on #120
I've got a pretty good prototype for custom text strings in this branch:
https://github.com/mapzen/leaflet-geocoder/blob/text-strings/

@hanbyul-here I would love your help translating strings in this demo page so we can see it in action.
https://github.com/mapzen/leaflet-geocoder/blob/text-strings/examples/custom-strings.html

[2017-03-06 23:32] hanbyul-here commented on #120
@louh I just pushed the kr one to the branch

[2017-03-06 23:52] louh commented on #120
NICE! Can you also add something for `INPUT_PLACEHOLDER` and use the same thing for `INPUT_TOOLTIP`? That's where it used to say "Search" and I was testing to see if `false` would turn it off, but we should also include those in the demo.

Thanks!!!

[2017-03-07 22:22] #149 closed, assigned to nobody

[2017-03-07 22:23] #143 closed, assigned to nobody

[2017-03-07 22:25] #132 closed, assigned to nobody

[2017-03-07 22:42] supakazes commented on #143
Is it solved then ?

[2017-03-07 22:52] louh commented on #129
New things to try:

1. we should only display bbox for polygonal results. point results like venues and places should display a marker even if the `bbox` property is returned.
2. a "force-marker" option should be provided anyway.

Acceptance test cases:

1. a polygon result zooms to bbox
2. a point result without a bbox drops a marker
3. a point result that contains a bbox will still drop a marker

[2017-03-07 22:54] louh commented on #86
This has been resolved with panning to bbox. We do not make `/place` requests automatically because of the additional traffic overhead, and ask that developers who require `/place` functionality handle this themselves by adding callbacks to event listeners.

[2017-03-07 22:56] louh commented on #86
We should make an example that does this.

[2017-03-07 22:58] louh commented on #143
Sorry, just cleaning house! I'm closing this because this is a Pelias / Mapzen Search issue and this is being tracked in that repository.

[2017-03-07 22:59] louh commented on #62
TODO: let's include @skorasaurus's example in the documentation.

[2017-03-07 23:03] hanbyul-here commented on #120
@louh just added them!

[2017-03-08 10:54] supakazes commented on #143
Fair enough, thanks :)

[2017-03-08 15:32] louh commented on #120
thank you!

[2017-03-08 16:10] louh commented on #62
Added 7f6c39fa699f33de1518a72476298091d7053864

[2017-03-08 16:10] #62 closed, assigned to nobody

[2017-03-08 16:25] #150 closed, assigned to nobody

[2017-03-08 16:25] louh commented on #120
Closed #152, #153

[2017-03-08 16:25] #120 closed, assigned to nobody

[2017-03-08 19:35] louh commented on #86
So! `/place` does not return boundary geometry nor will it in the future. Currently it returns very little of interest, but could return more, and there is no plan from Pelias team to return geometry.

I am working on an example now which will take a selection, and uses it to make a request to WOF for the boundary geometry. Naturally this only works for WOF sources for coarse layers. We should be

[2017-03-08 20:16] louh commented on #86
Added 1798d856209a34fde313c409f68fc373660b5a26

[2017-03-08 20:16] #86 closed, assigned to nobody

[2017-03-08 21:00] louh commented on #144
I must also apologize for the super late reply, but I am currently working through the back log of issues here. It sounds like you might be able to achieve this if you save a GeoJSON feature containing your pre-set location, then call this method on the geocoder after instantiating it:

[code]

This is not using documented functionality so I cannot guarantee that it will work for eternity but I ho

[2017-03-08 21:00] #144 closed, assigned to nobody

[2017-03-08 21:00] louh commented on #138
What is this?

[2017-03-08 21:00] #136 closed, assigned to nobody

[2017-03-08 21:00] #135 closed, assigned to nobody

[2017-03-08 21:17] louh commented on #108
@devinrsmith apologies for the late response, but yes, autocomplete will not use the bounding box parameters. One would have to use the `focus` option (more: https://mapzen.com/documentation/search/autocomplete/) and it will only prioritize results around that point, it will not contain the results in a bounding box. This was a decision made by the Pelias team to keep lookup speeds fast. If you'd

[2017-03-08 21:17] #108 closed, assigned to nobody

[2017-03-08 21:22] louh commented on #65
I found the answer to the `focus.viewport` question. https://github.com/pelias/api/pull/620 (SPOILER: it's gone)

[2017-03-08 21:47] louh commented on #65
Closing this. The code to write this would be complicated & with too many edges (e.g. a `bounds` is provided but `focus` is set explicitly to false), and it would still not answer any questions about why autocomplete results (#131, #108) do not respect bounds. As questions come up we need to instruct developers to provide both `bounds` and `focus` options separately for `search` and `autocomplete`

[2017-03-08 21:47] #65 closed, assigned to louh

[2017-03-08 21:54] louh commented on #11
Closing due to old age

[2017-03-08 21:54] #11 closed, assigned to nobody

[2017-03-08 23:12] louh commented on #134
Closing due to old age

[2017-03-08 23:12] #134 closed, assigned to nobody

[2017-03-08 23:13] louh commented on #39
We should consider this in a body of "filter" functions for search and autocomplete results. See also #103.

[2017-03-08 23:16] louh commented on #103
1) This is best supported through params (#127) which filters on server side.
2) Client-side filtering could be considered as a "filter" function that allows developers to customize filter rules. (See also #39).

Closing because the two issues above cover this one.

[2017-03-08 23:16] #103 closed, assigned to nobody

[2017-03-08 23:44] louh commented on #138
(I'm very aggressively closing down / cleaning up issues in this repo, so I'm wondering if this is (a) already solved or doable in some other way, (b) something we kick into a "v2" label, (c) close entirely with no further fanfare.)

[2017-03-09 00:18] louh commented on #110
Added 311355cec259f2e77ec44fd93156afa0e06c10dc

[2017-03-09 00:18] #110 closed, assigned to nobody

[2017-03-09 16:08] louh commented on #129
We're implementing this as of f5de53bf1aa733834acb21d6863c93a64d71352b.

- Results from the `venue` and `address` layers will always drop markers, regardless of whether bbox data is present
- A convenience option, named `overrideBbox`, allows a geocoder to ignore all bboxes and drop markers if the `markers` option is true (it is by default).

This will be released in 1.8.0.

[2017-03-09 16:08] #129 closed, assigned to nobody

[2017-03-09 17:15] souperneon commented on #138
@orangejulius does pelias haave category search now? (sorry I should know this :|)

[2017-03-09 23:05] louh commented on #150
Published https://github.com/mapzen/leaflet-geocoder/releases/tag/v1.8.0 which should address this!

[2017-03-10 00:40] louh opened #154 "Refactor into smaller modules"
1. Allow importing of a core module without namespacing to the Leaflet object immediately. (see https://github.com/perliedman/leaflet-routing-machine)
2. Split out XHR/XDR into a separate module or import a dependency (e.g. https://github.com/mapbox/corslite)

Goal: enables cleaner import by mapzen.js.

[2017-03-14 22:22] louh commented on #154
Work is ongoing in the `bundle` branch: https://github.com/mapzen/leaflet-geocoder/tree/bundle

This restructures the existing single JavaScript file into a number of smaller modules. The bulk of the geocoder logic is in `core.js`, exported as `Geocoder`. Utility functions, instead of being baked into the single file, are extracted out. Where possible, `core` depend on existing third-party librari

[2017-03-15 20:24] dianashk commented on #143
It is solved now! Cheers!

[2017-03-16 20:29] louh commented on #154
Update: to preserve IE8 functionality we are importing the previous utility functions instead of Lodash. (note: we can put back Lodash and drop IE8 compatibility in v2.)

[2017-03-16 23:07] louh opened #155 "Deprecate support for IE8?"
Allows us to upgrade modules to more recent versions; remove support for XDR.

[2017-03-19 19:43] wuk986 opened #156 "zoom, marker, adress issue"
I have some issues and i can not figure it out how to solve this by my own.

My issues short discriptive:
- Is it possible to zoom in and focus automaticly after searching an POI or address?
- Is it possible to show always the marker by searching a street without an number?
- Is it possible to show the whole address and coordinates in the popup after searching an objekt like "objectname, country"?

[2017-03-21 04:22] louh commented on #156
Hi @wuk986,

We have a code snippet showing how you can customize how the map view works after someone selects a a result: https://github.com/mapzen/leaflet-geocoder/tree/master/examples#customize-map-view-when-a-result-is-selected

It uses [events](https://github.com/mapzen/leaflet-geocoder#events) to listen for the selection and then responds by panning the map to the correct point and sets the

[2017-03-21 14:47] louh commented on #156
Regarding this bug:

I have determined that one way to cause this reliably is to do the following:

1. Type in some input, causing a list of results to appear.
2. Hover over the results list with your mouse.
3. Press escape. The results list should disappear.
4. Now use the scroll wheel on the map, it does not cause the map to zoom in or out.

I do not know if this is the only way to cause this bu

[2017-03-22 16:37] ilyankou opened #157 "Circle around the geocoded place"
I developed a feature to draw a circle with a specified radius around the geocoded place upon searching for @jackdougherty's [leaflet-maps-with-google-sheets](https://github.com/JackDougherty/leaflet-maps-with-google-sheets), and I am wondering if it's something that can be added to the main repo. Its main purpose is to be able to easily detect markers that lie within a certain distance from the p

[2017-03-28 01:12] louh commented on #157
Hi @ilyankou, thanks for the suggestion.

I think you've developed a really interesting application with the geocoder, but I'm not certain that it has much utility for other geocoder users outside of your use case. We want to keep our plugin scoped fairly tightly to Mapzen Search functionality, and the circle might confuse users into thinking it might mean something about search accuracy. (See, [f

[2017-04-01 13:27] jengeb opened #158 "Autocomplete doesn't work as expected"
I use the autocomplete endpoint of the Mapzen Search API and recognized a strange behavior which I can also reproduce on https://mapzen.github.io/leaflet-geocoder/.

E.g., I am searching for the street 'Großgörschenstraße' and start typing. Everything is as expected until 'Großgörschenstra':

![screenshot from 2017-04-01 15-02-18](https://cloud.githubusercontent.com/assets/3831683/24578940/3f40015

[2017-04-02 00:03] enocholumide opened #159 "Marker doesnt show on search :("
:(

![image](https://cloud.githubusercontent.com/assets/24214602/24583407/9b21cf58-1748-11e7-8141-dc8443a7b976.png)

![image](https://cloud.githubusercontent.com/assets/24214602/24583400/7cda830a-1748-11e7-8355-917ea99d49f7.png)

[2017-04-02 16:32] jengeb commented on #158
Only [the first 18 characters of every word are stored](https://github.com/pelias/schema/blob/master/settings.js#L171). Already mentioned in https://github.com/pelias/schema/issues/126 and https://github.com/pelias/pelias/issues/488.

[2017-04-02 16:32] #158 closed, assigned to nobody

[2017-04-03 18:32] louh commented on #159
Hi @enocholumide,

I have some follow up questions to see if I can narrow down the problem.

1. are you supplying custom marker options? If so, can you paste in what they are?
2. are you using a build process that changes stylesheets or packages images for you? (e.g. webpack, etc)

Thanks!

[2017-04-03 20:57] louh commented on #156
Scroll wheel zoom issue fixed in 374e3b7ee8844a03f29606f0ec99d11e516ecd19 and released in https://github.com/mapzen/leaflet-geocoder/releases/tag/v1.8.2!

[2017-04-03 20:57] #156 closed, assigned to nobody

[2017-04-03 21:31] louh commented on #154
Update: we can incorporate `corslite` instead of the original `AJAX` module. This adds about an additional 2kb size increase (un-gzipped) but I think it is worth the effort.

[2017-04-04 07:45] enocholumide commented on #159
Hi @louh

1. When I could'nt get the marker to display, I had to turn make the marker display false, then I extracted the address, latitude and longitude information to create my own custom marker.

2. I am developing with angular2, but I have my own css style sheets, i dont imagine it will overide the styles of the mapzen plugin.

// initialize mapzen geocoder
    var geocoder = L.control.geocode

[2017-04-04 16:03] louh commented on #159
Hi @enocholumide,

I have created a very minimal test case at Leaflet's JS Bin here: https://playground-leaflet.rhcloud.com/vudab/1/edit?html,js,console,output

I have copied your options exactly (except for `position`) and your code for selecting a result. It appears to work as expected:

![screenshot 2017-04-04 11 59 17](https://cloud.githubusercontent.com/assets/2553268/24666480/79be1bea-192e-1

[2017-04-06 14:32] louh commented on #154
1.9.0 released in 8ae16b1fa1816e756de8d1e52b52440c71941dcf.

[2017-04-06 14:32] #154 closed, assigned to louh

[2017-08-03 15:09] chriszrc commented on #159
The problem here is that "marker-shadow.png" is ending up in the data:img declaration and it's not supposed to be there. I haven't tracked down why this is happening though :(

[2017-08-03 15:20] chriszrc commented on #159
Ok, I found the problem. This has nothing to do with the mapzen geocoder (they simply create a default leaflet marker, and expect leaflet to be configured correctly). Angular 2/4 needs additional configuration to properly import the leaflet image assets. I'm using this plugin:

https://github.com/Asymmetrik/angular2-leaflet#angular-cli-marker-workaround

It describes the necessary steps, except it

[2017-08-03 17:46] louh commented on #159
Thanks for your investigation, @chriszrc!

[2017-08-03 17:46] #159 closed, assigned to nobody

[2017-08-24 07:33] stevage opened #162 "Allow using existing input control"
It would be really handy if we could use an existing Input control (outside the Leaflet map), rather than creating one.

I'd appreciate any feedback on the feasibility of implementing this, as we may implement it ourselves.

[2017-08-25 03:49] stevage opened #163 "Filter out null island results"
For whatever reason, Mapzen's geocoder is returning a lot of results whose geometry is [0,0]. Showing these results as autocomplete suggestions is pretty poor UX, and undermines user confidence in the geocoder.

For instance, typing "bl" gives this:

<img width="212" alt="screen shot 2017-08-25 at 1 48 26 pm" src="https://user-images.githubusercontent.com/678344/29698893-27c0ccb4-899c-11e7-8d17-c5

[2017-08-25 04:34] stevage commented on #39
Allowing a `resultFilter` function to be passed as an option when initialising would be really useful. Simple to implement and use.

[2017-08-28 15:12] dway8 opened #164 "Discrepancies between search & autocomplete results"
Hello,

I am encountering a problem on your demo page. When I input "14 rue Fernand Rey", no results are found. But when I press "Enter",  the right address is shown in the results (14 rue Fernand Rey, Lyon, France).

Why is it displayed with the "search" endpoint, and not with the "autocomplete" endpoint?

Thanks!

[2017-08-30 00:51] stevage commented on #162
Ok, so this turned out to be pretty easy to implement, but not in a way which is likely to survive a PR. I changed the first few lines of `onAdd` to:

[code]

The awkward bit is that calling `geocoder.addTo(map)` triggers other code in Leaflet which always moves the control inside the map. So instead, I do this:

[code]

It works pretty well.

[2017-08-30 13:01] dianashk commented on #164
Hi @dway8, thanks for reaching out.
Autocomplete and search endpoints behave differently at this time because only search supports address Interpolation. Interpolation is the process of estimating house numbers where an exact match is not found in the data. We are working on adding this functionality to autocomplete as well but it will still be another months or so before that makes it to producti

[2017-08-30 13:17] dianashk commented on #163
Hey @stevage, great catch! We missed a check for null island records in our openaddresses importer. Will add it shortly. Thanks for your feedback!

[2017-09-15 16:39] dianashk commented on #163
This has been fixed! 🎉  🎉  Thanks again for reporting the issue.

![screen shot 2017-09-15 at 12 37 52 pm](https://user-images.githubusercontent.com/5446511/30493624-d47b197e-9a12-11e7-90a9-d0efc2e9a6fc.png)

[2017-09-15 16:39] #163 closed, assigned to nobody

[2017-09-16 02:20] stevage commented on #163
Awesome :) so it was fixed upstream, removing the need for a specific
filter here?

[2017-09-19 19:11] dianashk commented on #163
@stevage, no we actually had a code change go through in a [linked PR](https://github.com/pelias/openaddresses/pull/277). No changes to the user interface of leaflet-geocoder or the API were made, however.

[2017-10-14 17:12] timwis opened #167 "Full width at topright blocks zoom controls"
Hey folks, great plugin! I'd like to leave the search box open by default as "finding my address" is my primary use case. Setting it to `expanded: true` works great, but takes up a bit too much real estate on mobile since it's beneath the zoom controls.

<img width="332" alt="screen shot 2017-10-14 at 13 10 39" src="https://user-images.githubusercontent.com/761444/31577683-33e72896-b0e1-11e7-828a-

[2017-10-16 22:37] olivier65 opened #168 "Please do not turn a 400 error into a 500 error"
In the event of a 400 error the search widget shows the ERROR_500 message, which was very confusing at first: I thought maybe the Pelias server was undergoing maintenance! You should implement an ERROR_400 string since it is very easy to get a 400 error, e.g., a space between layer types (such as "address, venue" instead of "address,venue") or any other typo in the geocoder options will do.

[2017-11-21 16:13] dphiffer opened #169 "Using leaflet-geocoder with Glitch"
I've been tinkering with [maps on Glitch](https://glitch.com/edit/#!/smol-maps) and encountered the following situation:

* Added `leaflet-geocoder-mapzen` to my [bower.json](https://github.com/smoldata/smol-maps/blob/master/bower.json) file
* In my [Makefile](https://github.com/smoldata/smol-maps/blob/master/Makefile) I have these steps to build `dist` JS and CSS:
[code]
* When I try running this

[2017-11-21 16:16] dphiffer commented on #169
Of course a 3rd route is for me to just bundle my own copies of the `dist` assets in my own repo, but this seems less ideal since it means that I stop getting the benefits of package managers keeping things up to date.

[2017-11-21 16:28] dphiffer commented on #169
I guess my inclination here is to go with option 1: add an additional step to the [Versioning and Publishing](https://github.com/mapzen/leaflet-geocoder/blob/master/CONTRIBUTING.md#versioning-and-publishing) process to build `dist` assets and commit them.

[2017-11-21 16:31] dphiffer commented on #169
One other detail that's important: my map project is intended to be offline-friendly, so using the CDN-hosted version is less good for me. I am trying to support offline-ness and Glitch, which is maybe a weird combo.

[2017-11-21 17:00] louh commented on #169
Generally speaking, most package authors won't include `dist` assets inside of a repository. One of the reasons for this is because compiled assets are often a source of merge conflicts and can make history really messy. I have seen packages include `dist` assets for historical reasons (or for very good reasons) but it seems like you're looking for more of a workaround.

I'll throw a couple of oth

[2017-11-21 17:07] dphiffer commented on #169
Yeah that makes sense, I'll go the download-from-a-CDN route for now. Thanks @louh!

[2017-11-21 17:07] #169 closed, assigned to nobody

[2017-12-30 04:07] louh commented on #167
Hi @timwis,

You'll find your answer here: https://github.com/mapzen/leaflet-geocoder/tree/master/examples#put-the-geocoder-control-above-the-zoom-control

This is a summary (to save you a click). This is an effect of the zoom controls being added by default by Leaflet, so when you add a search bar to the map, it comes "after" the zoom controls.

What you want to do is initialize your map without

[2018-03-07 19:52] phist210 opened #171 "Demo link in readme should link to nextzen, not mapzen."
README.md has a link to the demo page but links to the wrong domain.

Please change to:
https://nextzen.github.io/leaflet-geocoder

[2018-03-08 01:49] #171 closed, assigned to nobody

[2018-03-08 01:50] nvkelso commented on #171
Fixed in https://github.com/nextzen/leaflet-geocoder/commit/d0f6bcb386fc1ac5c2a35bd313bdc28e8daaf755, but since Mapzen services are offline more changes will need to happen to make the demo work fully again.

[2018-03-08 01:50] nvkelso opened #172 "Use Nextzen tiles and Geocode.earth search endpoint"
Followup from #171.

[2018-03-08 20:34] orangejulius commented on #172
I will get you a key for geocode.earth :)

[2018-03-23 00:51] mubashirqasim opened #174 "Mapzen closing down"
Hi there,

This was really handy geo-coder package.
You might have heard that Mapzen is closing down and as a result their geo-coder is not work anymore.
Do you have a plan to upgrade it with any working geo-coder?

![capture](https://user-images.githubusercontent.com/8086373/37805752-062af566-2ea1-11e8-8809-c8e0a5a75df8.PNG)

[2018-03-23 10:40] missinglink commented on #174
Hi @mubashirqasim, you can request an API key from https://geocode.earth

You'll just need to use your new API key and the following options when loading the plugin:
[code]

[2018-03-25 20:28] mubashirqasim commented on #174
Thanks for your prompt response Peter. https://geocode.earth service is quite expensive though.

[2018-03-25 20:59] missinglink commented on #174
The geocode.earth plans are geared towards businesses, it ends up costing a fair bit to have a production system running at that scale.

Unfortunately since the shutdown of mapzen there is no free hosted pelias service available and no-one has come forward and offered to foot the bill for one :(

You'll always have the option of running your own server, all the code is open source and all the data

[2018-03-25 21:02] missinglink commented on #174
Contact Julian via the geocode.earth site and tell him what you plan to do, he'll give you a demo key to try it out for free and you might be able to figure out something that works.

[2018-04-10 10:35] gopi-ar commented on #174
We've hosted a pelias instance at LocationIQ.org for Mapzen users. 10k requests / day & all the usual bells & whistles. Endpoint is: `https://pelias.locationiq.org/v1`

[2018-04-10 11:00] missinglink commented on #174
Hi @gopi-ar I'm getting a `403 Forbidden nginx/1.12.1` message from the link you provided.

The Pelias core team is currently working on some options to form a foundation for the project which will bring together organizations interested in continuing development work on the codebase.

Since the shutdown of Mapzen the dev work has stalled, @orangejulius & I are working hard to get everything back

[2018-04-11 06:42] gopi-ar commented on #174
@missinglink That's the base endpoint URL, you'll have to use /autocomplete, etc to get to the Pelias API. Tokens can be generated by signing-up at `https://locationiq.org`. Do let us know as and when the foundation is ready, we're happy to help as much as we can.

[2019-06-14 11:35] orangejulius commented on #172
Done in https://github.com/pelias/leaflet-plugin/pull/179!

[2019-06-14 11:35] #172 closed, assigned to nobody

[2019-08-04 21:34] danielkp1234 opened #180 "Leaflet after search zoom doesnt load tiles"
So when I zoom in a lot the mapbox tiles stop loading(don't think there are that closeup tiles for my area) so how would I make it so when I search it won't zoom
I'm using
var geocoder = L.control.geocoder('search-MKZrG6M').addTo(map);
and the mapbox tiles are
mapbox://styles/mapbox/satellite-streets-v9

[2019-08-05 09:36] missinglink commented on #180
Not tested, but try setting maxZoom:
https://leafletjs.com/examples/zoom-levels/

There is also an option in the `README` named `panToPoint`.

[2019-08-05 09:36] #180 closed, assigned to nobody

[2019-08-22 22:19] #174 closed, assigned to nobody

[2019-10-16 12:27] marc1091 opened #181 "Sources parameter is not passed to the query"
1. Sources  parameter is  ignored by the plugin -

var geocodingOptions = {
      url: 'http://localhost:4000/v1',
     layers: 'locality',
      expanded: true,
      sources: 'geonames',
    };
but the query does not  use  sources -

http://localhost:4000/v1/autocomplete?text=b&focus.point.lat=23.241346102386135&focus.point.lon=77.34375000000001&layers=locality

it defaults to whosonfirst

2. Ab

[2019-10-16 12:49] missinglink commented on #181
Hi @marc1091 the [documentation](https://github.com/pelias/leaflet-plugin#query-behavior) says that the option is called `params` and then you add query parameters in there.
Can you try again with a structure like this?

[code]

[2019-10-16 14:01] #164 closed, assigned to nobody

[2019-10-16 16:47] #181 closed, assigned to nobody

[2020-05-19 15:48] orangejulius opened #183 "Support a minimum query length"
Very short autocomplete queries (one or two characters) are often not particularly helpful. Many autocomplete interfaces support a minimum input length, below which a query won't be sent to the underlying search backend, and instead a message (something like "enter 1 more character to search...") will be displayed.

We should support something similar.

[2020-05-19 17:01] missinglink commented on #183
This is implemented in the code but not configurable:
https://github.com/pelias/leaflet-plugin/blob/master/src/core.js#L23